.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

assets/results/videos/*
*.xtc
*.gro
*.blend
*.wrl
.nfs*
*.aux
*.log
.luarc.json
tmp.R
*_cache
**unnamed-chunk*
_analysis.knit.md
_analysis.rmarkdown
