.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

assets/results/videos/*
*.xtc
*.gro
!/assets/structures/f0f1-rot-sample-last-frames.gro
!/assets/structures/f0f1-rot-sample-last-frames.xtc
!/assets/structures/ferm-last-frames.gro
!/assets/structures/ferm-last-frames.xtc
*.blend
*.wrl
.nfs*
*.aux
*.log
.luarc.json
tmp.R
*_cache
**unnamed-chunk*
_analysis.knit.md
_analysis.rmarkdown
