@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Roboto&display=swap');

#hero {
    padding-top: 10%;
}

h1, h2, #hero h1 {
  font-family: Miriam Libre;
}

h1, h2, #hero h1 {
  font-family: Miriam Libre;
}

#hero h1 {
  font-size: 2.25em;
}

#hero p {
    font-size: 2.1rem;
}

.wrapping {
  float: right;
  shape-outside: url("assets/blender/render-align/frame0000.png");
  shape-margin: 50px;
  width: 80%;
}

#fig-structure > figure > figcaption {
  float: left;
  clear: both;
}

#logo-hbigs {
    width: 22%;
    position: absolute;
    bottom: 1.5%;
    right: 5%;
}

#logo-hits {
    width: 40%;
    position: absolute;
    bottom: 7%;
    right: 30%;
}

#logo-uni-hd {
    width: 25%;
    position: absolute;
    bottom: 8%;
    right: 3%;
}

#hero > p:first-of-type {
    padding-top: 1em;
}

#hero .call-to-action {
    font-size: 1.3rem;
}

